body {
	font-family: arial;
	height: 100%;
	max-width: 100%;
}

a {
	text-decoration: none;
	color:gray;
	font-size: 0.9em;
}
/*
a:hover {
	text-decoration: underline;
}
*/
#header {
	position: absolute;
	top:0%;
	background-color: #F2F2F2;
	margin-left: -.6em;
	margin-bottom: -1em;
	height: 6%;
	width:100%;

	border: solid;
	border-color: #E4E4E4;
	border-width: 1.2px;
	z-index: -1;
}


/* Figure out how to draw that app box thing*/
.apps{
	margin-right: 7em;
	margin-top: 0.2em;
	float:right;
	z-index: 1;	
}

.sign {
	background-color: #4584EE;
	float:right;
	margin-right: -7em;
	margin-top: 0em;
	width:4em;
	height: 2em;
	z-index: 1;
}

.sign a {
	color: white;
	position: relative;
	left: 15%;
	top: 20%;
}

.sign a:hover{
	cursor: default;
}

#imageG {
	position:absolute;

	top:1%;
	left:1%;

	width:82px;
	height:30px;
	background: url(nav_logo195.png) -26px -78px;
}

.search {
	position: relative;
	width:500px;
	left:6.5%;
	top:5%;
	margin-top: 6px;
	height: 1.5em;
	margin-bottom:-5em;
}

.searchQ {
	background:url(search.jpg) no-repeat;
	border:none;
	cursor: auto;
	width:54px;
	height:28px;
	position: absolute;
	top:8.75%;
	left: 37.2%;	
	z-index: 1;
	margin-top: -5em;
}

/* Edit the top var*/
#subheader {
	position: absolute;
	top:5.5%;
	left: 3.4%;
}

#links{
	position: relative;
	top:40%;
	display: inline;
	margin-top: 5em;
	margin-left:1em;
}

#links:hover{
	text-decoration: none;
	font-weight: 600;
}

.web {	
	color: red;
}

.webS {
	position: relative;
	top:40%;
	display: inline;
	margin-top: 5em;
	margin-left:1em;
}


.searchT:hover{
	font-weight: 0;
	border:1px solid black;
	background-color: #F6F6F6;
	box-shadow: 1px 1px black;
}

#redbar {
	position: absolute;
	top: 12.5%;
	width: 2%;
	left: 7.3%;
	border:1px solid red;
	margin-left: -.6em;
}

.set {
		cursor: default;
}

#settings {
	position: absolute;
	right:2%;
	top:9%;
}

#bar1 {
	position: absolute;
	top: 13%;
	width: 100%;
	border:1px solid #EBEBEB;
	margin-left: -.6em;
}


#results {
	position: absolute;
	left:7%;
	top: 13%;
	color:gray;
	font-size: 0.9em;
}


#articles {
	position: absolute;
	left: 7%;
	top:17%;
	width: 500px;
	text-decoration: none;
	font-size: 14px;
}

#articles ul {
	position: relative;
	left:-8%;
	margin-top: -14px;
}

#articles p {
	margin-top: -16px;
}

#articles ul li {
	display:inline;
\
}

#bar2 {
	position: absolute;
	top: 100%;
	width: 100%;
	border:1px solid #EBEBEB;
	margin-left: -.6em;
}


#company {
	color:gray;
}

#url {
	color: green;
}

h2 {
	margin-bottom: 12px;
}

h2 a{
	color:blue;
	font-size: 15px;
}

h2 a:hover{
	text-decoration: underline;
}

#tab {
	color:blue;
}

#tab:hover{
	text-decoration: underline;
}

#footer {
	position: absolute;
	bottom:2%;
	background-color: #F2F2F2;
	margin-left: -.6em;
	margin-bottom: -1em;
	height: 8%;
	width:100%;
	
	overflow: auto;

	border: solid;
	border-color: #E4E4E4;
	border-width: 1.2px;
	line-height: 5px;
}

#circle {
    position:absolute;
    background: #9A9FA4;
    width: 12px;
    height: 12px;
    left:2.5%;
    top:20%;
    border-radius: 50%;
}

.foot {
	display: inline;
	position: relative;
	font-size: 13px;
	font-family: arial;
	left: 1.5%;
	line-height: 5px;
}

#place {
	color: #AAAAAA;
	left:1.5%;
}

#support {
	position: relative;
	right:5%;
}

#footer a:hover {
	text-decoration: underline;
}