body,html {
	font-family: arial;
	height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

#wrapper {
	position: relative;
	min-height: 100%;
}

a {
	text-decoration: none;
	color:gray;
	font-size: 0.9em;
}
/*
a:hover {
	text-decoration: underline;
}
*/
#header {
	position: absolute;
	top:0%;
	background-color: #F2F2F2;
	margin-left: -.6em;
	margin-bottom: -1em;
	height: 6%;
	width:100%;

	border: solid;
	border-color: #E4E4E4;
	border-width: 1.2px;
	z-index: -1;
}


/* Figure out how to draw that app box thing*/
.apps{
	margin-right: 7em;
	margin-top: 1em;
	float:right;
	z-index: 1;	
}

.sign {
	background-color: #4584EE;
	float:right;
	margin-right: -7em;
	margin-top: 1em;
	width:4em;
	height: 2em;
	z-index: 1;
}

.sign a {
	color: white;
	position: relative;
	left: 15%;
	top: 20%;
}

.sign a:hover{
	cursor: default;
}

#imageG {
	position:absolute;

	top:1%;
	left:1%;

	width:82px;
	height:30px;
	background: url(nav_logo195.png) -27px -78px;
}

.search {
	position: relative;
	width:500px;
	left:6.5%;
	top:6%;
	margin-top: 12px;
	height: 1.5em;
	margin-bottom:-5em;
}

.searchQ {
	background:url(search.jpg) no-repeat;
	border:none;
	cursor: auto;
	width:54px;
	height:28px;
	position: absolute;
	top:5.4%;
	left: 36.8%;	
	z-index: 1;
	margin-top: -5em;
}

#subheader {
	position: absolute;
	top:5.5%;
	left: 3.4%;
}

#links{
	position: relative;
	top:40%;
	display: inline;
	margin-top: 5em;
	margin-left:1em;
}

#links:hover{
	text-decoration: none;
	font-weight: 600;
}

.web {	
	color: red;
}

.webS {
	position: relative;
	top:40%;
	display: inline;
	margin-top: 5em;
	margin-left:1em;
}


.searchT:hover{
	font-weight: 0;
	border:1px solid black;
	background-color: #F6F6F6;
	box-shadow: 1px 1px black;
}

#redbar {
	position: absolute;
	top: 12.5%;
	width: 2%;
	left: 7.3%;
	border:1px solid red;
	margin-left: -.6em;
}

.set {
		cursor: default;
}

#settings {
	position: absolute;
	right:2%;
	top:9%;
}

#bar1 {
	position: absolute;
	top: 13%;
	width: 100%;
	border:1px solid #EBEBEB;
	margin-left: -.6em;
}


#results {
	position: absolute;
	left:7%;
	top: 13%;
	color:gray;
	font-size: 0.9em;
}

#sidebar {
	position: absolute;
	left: 42%;
	top:17%;
	border: 2px solid #E1E1E1;
	width:25em;
	height: 13em;

}

#sidebar h2 {
	font-size: 14px;
	margin-bottom: 5px;
	margin-left: 10px;
}

#p1 {
	font-size: 12px;
	margin-left: 10px;
	margin-right: 10px;
}

#p1:hover {
	position: relative;
	background-color: #F7F7F7;	
}

#p1 a{
	color:blue;
}

#p1 a:hover{
	text-decoration: underline;
}

#p1 p{
	margin-top: 5px;
	margin-bottom: 5px;
}

#p2 {
	font-size: 12px;
	margin-left: 10px;
	margin-right: 10px;
}

#p2 a{
	color: blue;
}

#p2 a:hover{
	text-decoration: underline;
}

#p2:hover {
	position: relative;
	background-color: #F7F7F7;
}

#p2 ul{
	margin-top: 5px;
	margin-bottom: 5px;
}

#p2 ul li {
	text-decoration: none;
	display: inline;
	left: -12%;
	position: relative;
}

#p2 p {
	color: gray;
	margin-top: 5px;
}


#stock {
	color:gray;
}

#percent {
	color:green;
}

/*
Edit to fix locations of images
#sidimg1 {
	position: absolute;
	float: right;
}

#sidimg2 {
	position: absolute;
	margin-top: -50px;
	bottom:17%;

}
*/
#articles {
	position: relative;
	left: 7%;
	top:17%;
	width: 500px;
	text-decoration: none;
	font-size: 14px;
	padding-bottom: 100px;
	margin-top: 180px;
}

#articles ul {
	position: relative;
	left:-8%;
	margin-top: -14px;
}

#articles p {
	margin-top: -16px;
}

#articles ul li {
	display:inline;

}

#bar2 {
	position: absolute;
	top: 29%;
	width: 100%;
	border:1px solid #EBEBEB;
	margin-left: -.6em;
}


#bar3 {
	position: absolute;
	top: 57%;
	width: 100%;
	border:1px solid #EBEBEB;
	margin-left: -.6em;

}

#bar4 {
	position: absolute;
	bottom:23.5%;
	width: 100%;
	border:1px solid #EBEBEB;
	margin-left: -.6em;

}

#bar5 {
	position: absolute;
	bottom:14%;
	width: 100%;
	border:1px solid #EBEBEB;
	margin-left: -.6em;

}

#searches h2 {
	margin-top: 15px;
	color: gray;
	font-size: 14px;
	margin-bottom: 10px;
}

#tab td a{
	color: blue;
}

#company {
	color:gray;
}

#company:hover{
	font-weight: 600;
	cursor: pointer;
}

#url {
	color: green;
}

h2 {
	margin-bottom: 12px;
}

h2 a{
	color:blue;
	font-size: 15px;
}

h2 a:hover{
	text-decoration: underline;
}

#tab {
	color:blue;
}

#tab:hover{
	text-decoration: underline;
}

#plink {
	color:blue;
	margin-left: 10px;
}

#plink:hover {
	text-decoration: underline;
}

#plink2 {
	color:blue;
	margin-left: 20px;
}

#plink2:hover {
	text-decoration: underline;
}

#goooogle {
	padding-top: 20px;
}

#g {

	position:absolute;


	left:5px;
	bottom:-15px;
	width:34px;
	height:39px;
	background: url(nav_logo195.png) -20px 0px;
}

#ro {
	position:absolute;

	bottom:-15px;
	width:20px;
	height:39px;
	background: url(nav_logo195.png) -54px 0px;
}


#yo1 {
	position:absolute;

	left:60px;
	bottom:-15px;

	width:20px;
	height:39px;
	background: url(nav_logo195.png) -74px 0px;
}
#yo2 {
	position:absolute;

	left:80px;
	bottom:-15px;

	width:20px;
	height:39px;
	background: url(nav_logo195.png) -74px 0px;
}
#yo3 {
	position:absolute;

	left:100px;
	bottom:-15px;

	width:20px;
	height:39px;
	background: url(nav_logo195.png) -74px 0px;
}
#yo4 {
	position:absolute;

	left:120px;
	bottom:-15px;

	width:20px;
	height:39px;
	background: url(nav_logo195.png) -74px 0px;
}
#yo5 {
	position:absolute;

	left:140px;
	bottom:-15px;

	width:20px;
	height:39px;
	background: url(nav_logo195.png) -74px 0px;
}
#yo6 {
	position:absolute;

	left:160px;
	bottom:-15px;

	width:20px;
	height:39px;
	background: url(nav_logo195.png) -74px 0px;
}
#yo7 {
	position:absolute;

	left:180px;
	bottom:-15px;

	width:20px;
	height:39px;
	background: url(nav_logo195.png) -74px 0px;
}
#yo8 {
	position:absolute;

	left:200px;
	bottom:-15px;

	width:20px;
	height:39px;
	background: url(nav_logo195.png) -74px 0px;
}
#yo9 {
	position:absolute;

	left:220px;
	bottom:-15px;

	width:20px;
	height:39px;
	background: url(nav_logo195.png) -74px 0px;
}
#gle {
	position:absolute;

	left:240px;
	bottom:-15px;

	width:60px;
	height:39px;
	background: url(nav_logo195.png) -94px 0px;
}

#rarrow {
	position:absolute;

	left:280px;
	bottom:-15px;

	width:13px;
	height:39px;
	background: url(nav_logo195.png) -154px 0px;
}

#footer {
	position: absolute;
	bottom:0;
	background-color: #F2F2F2;
	margin-left: -.6em;
	margin-bottom: -1em;
	height: 100px;
	width:100%;
	
	border: solid;
	border-color: #E4E4E4;
	border-width: 1.2px;
	line-height: 5px;
}

#circle {
    position:absolute;
    background: #9A9FA4;
    width: 12px;
    height: 12px;
    left:2.5%;
    top:20%;
    border-radius: 50%;
}

.foot {
	display: inline;
	position: relative;
	font-size: 13px;
	font-family: arial;
	left: 1.5%;
	line-height: 5px;
}

#place {
	color: #AAAAAA;
	left:1.5%;
}

#support {
	position: relative;
	right:5%;
}

#footer a:hover {
	text-decoration: underline;
}