body {
	font-family: arial;
	height: 100%;
	max-width: 100%;
}

li {
	display: inline;
}

a {
	text-decoration: none;
	color:gray;
	font-size: 0.9em;
}

a:hover {
	text-decoration: underline;
}


#header {
	float:right;
}

.top{
	list-style-type: none;
	position:relative;
	margin-right: 8em;
}

/* Figure out how to draw that app box thing*/
.apps{
	margin-right: -12.2em;
	margin-top: 0.9em;
	float:right;	
}

.sign {
	background-color: #4584EE;
	float:right;
	margin-right: -16.6em;
	margin-top: 0.6em;
	width:4em;
	height: 2em;
}

.sign a {
	color: white;
	position: relative;
	left: 15%;
	top: 20%;
}

#center {
	position:fixed;

	top:25%;
	left:43%;
}

#submit {
	position:fixed;
	bottom: 57.5%;
	left: 44%;
}

#submit input {
	font-size: 11px;
	background-color: #F4F4F4;
	border: 1px solid #DBDBDB;
	width: 9em;
	height:2em;
	color: #444400;
	margin-left: 10px;
}

#submit input:hover {
	box-shadow: 2px 2px 5px #EBEBEB;
}

.search {
	position: fixed;
	width:500px;
	left:35%;
	top:36.5%;
}


#footer {
	position: absolute;
	bottom:1%;
	background-color: #F2F2F2;
	margin-left: -.6em;
	margin-bottom: -1em;
	height: 5%;
	width:100%;
	
	overflow: auto;

	border: solid;
	border-color: #E4E4E4;
	border-width: 1.2px;
}

.left {

	float: left;
	width: 100px;
	margin-left: -10px;
	margin-bottom: 10px;
	font-size: 0.8em;
}

.right {

	float: right;
	width:6.5em;
	margin-left: -2em;
	right:2em;
	font-size: 0.8em;

}

